//Fonts
@font-face {
  font-family: FunSized;
  src: url("../assets/FunSized.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Slapstick;
  src: url("../assets/Slapstick.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Indonesia;
  src: url("../assets/Indonesia Merdeka.ttf");
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

//Variables

// //Breakpoint Sizes
// $small-devices-bp: 576px;
// $med-devices-bp: 768px;
// $large-devices-bp: 992px;
// $xl-devices-bp: 1200px;

//Breakpoints
$small-mobile-breakpoint: 359px;

$mobile-min-breakpoint: 360px;
$mobile-breakpoint: 450px;

$tablet-breakpoint: 900px;
$tablet-min-breakpoint: 451px;

$laptop-breakpoint: 1250px;
$laptop-min-breakpoint: 901px;

$desktop-min-breakpoint: 1251px;

//Colors
$peachy-pink: #db5d7c;
$teal: #4b94a3;
$living-coral: #fa7268;

//Font Sizes
$desktop-nav: 22px;
$tablet-nav: 16px;
$phone-nav: 14px;

//Footer Height Sizes
$mobile-nav-height: 60px;
$standard-nav-height: 65px;
$desktop-nav-height: 70px;

$desktop-banner: 55px;
$tablet-banner: 52px;
$big-phone-banner: 48px;
$phone-banner: 42px;

//Main Page Containers
.main-page-container {
  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 10px 20px;
  }
}

//Social Media Icons
.twitter {
  background: transparent url("../assets/twitter.svg") no-repeat;
}

.instagram {
  background: transparent url("../assets/instagram.svg") no-repeat;
}

.linkedin {
  background: transparent url("../assets/linkedin.svg") no-repeat;
}

.github {
  background: transparent url("../assets/github.svg") no-repeat;
}
